@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


body {
    background-color: #404448;
    color: white;
    font-family: 'Fira Code', monospace;
}

/* p {  Mkaes it difficult to read
    margin: 0;
} */

.container {
    margin:auto;
    width: 90%;
}

p {
    margin: 0;
}

.prompt, .path {
    display: inline-block;
}

.prompt {
    color: rgb(93, 187, 93);
}

.path {
    color: rgb(167, 119, 255);
}

a, a:hover, a:focus, a:active {
    text-decoration: underline;
    color: rgb(7, 216, 7);
}

a:visited {
    color: rgb(96, 196, 96);
}